# ---------------------------------------
# MySQL 데이터 디렉터리 전체 무시
# ---------------------------------------
# mysql 폴더 전체는 기본 무시
_data/mysql/*

# # 상위 폴더는 추적
# !_data/mysql/

# # ibdata1, undo_001, undo_002, ibtmp1는 추적
# !_data/mysql/ibdata1
# !_data/mysql/undo_001
# !_data/mysql/undo_002
# !_data/mysql/ibtmp1

# # startupdb 폴더 자체는 추적
# !_data/mysql/startupdb/


# ---------------------------------------
# Redis 데이터 디렉터리
# ---------------------------------------
_data/redis/
_data/redis/**

# ---------------------------------------
# Python cache
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

app/venv/
app/venv/**

# ---------------------------------------
# 기타 자동 생성 파일(선택)
# ---------------------------------------
*.log
*.pid
.env
